<servers>

<server>

<id>central</id>
<username>gollachethan1@gmail.com</username>
<password>Chethan@22==</password>

</server>

<server>

<id>snapshots</id>
<username>gollachethan1@gmail.com</username>
<password>Chethan@22==</password>

</server>
 
</servers>

<profiles>

<profile>

<repositories>

<repository>

<id>central</id>
<snapshots>
<enabled>false</enabled>
</snapshots>
<name>libs-release</name>
<url>http://chethangolla.jfrog.io/artifactory/libs-release</url>

</repository>
<repository>

<id>snapshots</id>
<snapshots />
<name>libs-snapshot</name>
<url>http://chethangolla.jfrog.io/artifactory/libs-snapshot</url>

</repository>

</repositories>

</profile>

</profiles>
